<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">
    <properties>
        <Property name="automationLogPath">./src/main/resources/logs</Property>
    </properties>
    <Appenders>
        <!--<Console name="CONSOLE">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %C{1}.%M(%F:%L) - %msg%n"/>
        </Console>-->
        <File name="AutomationLogs" fileName="${automationLogPath}/AutomationLogs.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %C{1}.%M(%F:%L) - %msg%n"/>
            <SizeBasedTriggeringPolicy size="5000"/>
        </File>
    </Appenders>
    <Loggers>
        <!--<Root level="DEBUG">
            <AppenderRef ref="CONSOLE" level="debug"/>
            <AppenderRef ref="AutomationLogs" level="debug"/>
        </Root>-->
        <Logger name="automation.logs" level="DEBUG">
            <AppenderRef ref="AutomationLogs"/>
<!--            <AppenderRef ref="CONSOLE"/>-->
        </Logger>
    </Loggers>
</Configuration>

        <!--- %d{yyyy-MM-dd HH:mm:ss.SSS} → Precise timestamp
        - [%t] → Thread name
        - %-5level → Log level (INFO, DEBUG, etc.)
        - %logger{36} → Logger name (trimmed to 36 characters)
        - %C{1} → Class name (without package)
        - %M → Method name
        - %F → File name
        - %L → Line number
        - %msg → The actual log message
        - %n → Newline
        -->